@font-face {
  font-family: 'EvilTech';
  src: url('../fonts/eviltech/EvilTech.woff2') format('woff2'),
       url('../fonts/eviltech/EvilTech.woff') format('woff'),
       url('../fonts/eviltech/EvilTech.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

#root {
  text-align: center;
  background-color: #121212;
  font-family: 'EvilTech' !important;
  font-size: 45px;
}

.form-control-lg, .form-control{
  font-size: 2rem;
} 
p {
  font-size: 40px;
  color: whitesmoke;
}

.blockquote.blockquote-large {
  font-size: 70px;
}

.blockquote {
  font-size: 35px;
  font-style: italic;
  text-align: center;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar.bg-dark.darkprimary {
  background-color: #1F1b24 !important;

}

.primary {
  background-color: #BB86FC;
}

.primary-variant {
  background-color: #3700B3;
}

.secondary {
  background-color: #03DAC6;
}

a:hover {
  color: #03DAC6 !important;
  text-decoration: underline;
}

.error {
  background-color: #CF6679;
}

.titlefont {
  font-family: 'EvilTech';
  font-size: 90px;
}

.titlefont-medium {
  font-family: 'EvilTech';
  font-size: 40px;
}
